#run-code {
    color: white;
    line-height: 2.5;
    background-color: lawngreen;

}
#run-code:hover {
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
    background-color: lightgreen;
}

#src {
    width: 40%;
    min-height: 40%;
}
#output {
    position: absolute;
    top: 50%;
}

#io-output {
    font-family: "Courier New";
}
#output-word {
    color: blueviolet;
}
